/* Remove all default margin and padding from body */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mouse Memoirs', sans-serif;
    background-image: url("../images/bg-image.webp");
    height: 100%;
}

/* Header and Logo */

header {
    background-color: #B6C7FB;
    padding: 0.5em;
    text-align: center;
}

header a {
    text-decoration: none;
    color: black;
}

header h1 {
    font-size: 4rem;
    padding-bottom: 10px;
    display: inline-block;
}

header h1>img {
    display: inline-block;
    vertical-align: bottom;
    max-width: 2em;
    height: auto;
}

header p {
    font-size: 2.5rem;
    padding: 0.5em;
}

#logo {
    display: flex;
    width: 70%;
    height: auto;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

#instructionsBtn {
    margin-right: 2em;
    margin-top: 1em;
    font-family: inherit;
    font-size: 2em;
    background-color: #B6C7FB;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
    width: 6em;
}

/* Modal Content/Box */
.instructions-text {
    text-align: center;
    line-height: 1.5em;
    background-color: white;
    font-size: 2em;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 55%;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 2em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* .hide is used in script.js to hide some elements until called */
.hide {
    display: none;
}

/* Username input section */
.form {
    display: flex;
    width: 100%;
}

#user-form {
    width: 100%;
    height: 8em;
    display: flex;
    justify-content: center;
}

#username-input {
    font-size: 2em;
    text-align: center;
    max-width: 15em;
}

label {
    font-size: 1em;
    text-transform: uppercase;
}

input[type=text] {
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: inherit;
    width: 10em;
}

#errors {
    padding: 10px;
}

/* Quiz Container and Image Styles */
#quiz-container {
    display: flex;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#quiz {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#quiz-image {
    width: 65%;
    height: auto;
    margin: 0 auto;
    border: 5px solid #B6C7FB;
}

#question {
    display: flex;
    justify-content: center;
}

/* Quiz Counter and Progress Bar */
#counter {
    display: none;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

#progress-text {
    font-size: 2em;
    padding-top: 20px;
}

#progress-bar {
    display: none;
}

#progress-bar-full {
    display: none;
}

/* Buttons and Controls */
.btn-grid {
    display: none;
    gap: 10px;
    justify-content: center;
}

.btn {
    font-family: inherit;
    font-size: 2em;
    background-color: #B6C7FB;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
    width: 11em;
}

/*btn-hover class is generated in script.js when the buttons are created*/


.controls {
    display: flex;
    width: 100%;
    justify-content: center;
}

.start-btn,
.restart-btn {
    margin-top: 1em;
    font-family: inherit;
    font-size: 2em;
    background-color: #B6C7FB;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
    width: 6em;
}


.next-btn {
    font-family: inherit;
    font-size: 2em;
    background-color: #B6C7FB;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
    width: 6em;
}

/* Colors for Correct and Incorrect Answers */
.correct {
    background-color: #C7FBB6;
}

.incorrect {
    background-color: #FBB6C7;
}

.highlight {
    border: 1px solid red;
}

/* Results Page */
#results-div {
    display: flex;
    background-color: white;
    width: 30rem;
    height: 25rem;
    margin: 3em;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#results-div img {
    width: 25%;
    height: auto;
    margin-top: 1em;
    display: flex;
}

#result-text {
    display: flex;
    font-size: 2em;
    text-align: center;
    padding: 0.5em 1em;
}

/* Footer */
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 2em;
    background-color: #B6C7FB;
    display: flex;
}

/* Footer social links */
.social-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    align-content: flex-start;
}

.social-links a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.social-links a:visited {
    color: black;
}

.social-links ul {
    width: 45%;
}

.social-links li {
    display: inline;
    text-decoration: none;
}

.social-links i {
    font-size: 100%;
    margin: 1%;
    color: black;
}



.social-links p {
    pointer-events: none;
    text-decoration: none;
    display: flex;
    width: 45%;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: black;
    text-align: center;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}


/* Media Queries */
/* Remove hover effects from touch screen devices */
@media (hover: hover) and (pointer: fine) {
    .btn-hover:hover {
        background-color: rgba(255, 0, 0, 0.2);
    }

    .start-btn:hover,
    .next-btn:hover,
    .restart-btn:hover,
    #instructionsBtn:hover {
        background-color: rgba(255, 0, 0, 0.2);
    }

    .social-links i:hover,
    .social-links a:hover {
        color: white;
    }

}

/* Media Queries for Landscape modes */
@media (orientation: landscape) {
    body {
        height: 50em;
    }

    #logo {
        margin-top: 2%;
    }

}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 599px) {
    body {
        background-size: contain;
        max-height: 130vh;
    }

    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.5em;
        padding: 0;
    }

    #logo {
        margin-bottom: 1em;
        width: 100%;
    }

    .controls {
        align-items: flex-end;
        margin-bottom: 2em;
    }

    #instructionsBtn {
        margin-right: 1em;
    }

    .instructions-text {
        font-size: 1.5em;
        margin: 50% auto;
    }

    .close {
        float: none;
    }

    label {
        font-size: 0.8em;
    }

    #errors {
        font-size: 0.8em;
    }

    #quiz-container {
        padding: 1em;
    }

    #quiz {
        width: 85%;
    }

    #quiz-image {
        width: 120%;
        margin: 10px;
        border: 3px solid #B6C7FB
    }

    #progress-text {
        font-size: 1.5em;
        padding-top: 0;
    }

    .btn {
        width: 8em;
    }

    .btn-grid {
        grid-template-columns: auto;
        margin: 10px 0;
    }

    .start-btn {
        margin-top: 2em;
    }

    #results-div {
        margin: 1em;
        height: 15em;
    }

    #result-text {
        font-size: 1.5em;
    }

    .social-links a {
        font-size: 1rem;
    }

    .social-links p {
        font-size: 1rem;
    }


    footer {
        height: 2em;
        margin-top: 2em;
    }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
    header h1 {
        font-size: 3rem;
    }

    header p {
        font-size: 1.5em;
    }

    #logo {
        width: 100%;
        margin-top: 2em;
    }

    #user-form {
        margin-top: 1em;
    }

    #quiz-image {
        width: 100%;
    }

    .btn-grid {
        margin: 3em 0;
    }

    .btn {
        width: 10em;
    }

    #progress-text {
        padding: 10px;
        font-size: 1.5em;
    }

}

@media only screen and (min-width: 768px) {

    #logo {
        margin-top: 2em;
    }

    .btn-grid {
        gap: 10px;
        margin: 10px;
        justify-content: center;
    }

    #progress-text {
        font-size: 2rem;
    }

    #progress-bar {
        display: flex;
        width: 10rem;
        margin-bottom: 10px;
        width: 50%;
        height: 2rem;
        box-sizing: border-box;
        border: 0.5rem solid #b6c7fb;
        border-radius: 50px;
    }

    #progress-bar-full {
        display: flex;
        height: 1.5rem;
        /* border: 1px solid #FBEAB6; */
        background-color: #b6c7fb;
        width: 0%;
        height: 20px;
        background-color: #b6c7fb;
        overflow: hidden;
    }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
    #logo {
        width: 85%;
    }

    #progress-text {
        font-size: 2rem;
        padding: 10px;
    }

    .btn-grid {
        grid-template-columns: repeat(2, auto);
        gap: 10px;
        margin: 10px;
        justify-content: center;
    }

    #result-text {
        font-size: 3em;
    }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {

    header h1 {
        font-size: 4rem;
    }

    header p {
        font-size: 2rem;
        padding: 0.2rem;
    }

    #logo {
        width: 60%;
        margin: 2%;
    }

    #counter {
        padding: 0.5em 0;
    }

    #progress-bar {
        width: 50%;
        height: 2rem;
        box-sizing: border-box;
        border: 0.5rem solid #B6C7FB;
        border-radius: 50px;
    }

    #progress-bar-full {
        width: 0%;
        height: 20px;
        background-color: #B6C7FB;
        overflow: hidden;
    }

    #user-form {
        margin-top: 0;
    }

    #quiz-image {
        width: 65%;
    }

}