@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mouse Memoirs', sans-serif;
    background-image: url("../images/bg-image.jpg");
    height: 100%;
}

#heading {
    text-align: center;
    font-size: 3.5em;
    margin-top: 0.5em;
}

p {
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
}

#logo {
    display: flex;
    width: 80%;
}

.hide {
    display: none;
}

#quiz-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    /* margin-top: 2em; */
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    width: 100%;
}


.user-form {
    max-width: 100%;
    height: 8em;
}

#username-input {
    font-size: 2em;
    text-align: center;
    max-width: 15em;
}

#username {
    width: 15em;
}

input[type=text] {
    font-size: large;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 10px;
    font-family: inherit;
}

#counter {
    display: none;
    /* display: flex; */
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

#quiz {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#progress-text {
    font-size: 2em;
}

#progress-bar {
    width: 10rem;
    height: 2rem;
    box-sizing: border-box;
    border: 0.5rem solid skyblue;
}

#progress-bar-full {
    height: 1.5rem;
    background-color: skyblue;
    width: 0%;
}

#question {
    display: flex;
    justify-content: center;
}

#question img {
    max-width: 80%;
    margin: 0 auto;
}

.controls {
    display: flex;
    width: 100%;
    justify-content: center;
}


.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    font-family: inherit;
    font-size: 2em;
    background-color: skyblue;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
}





.correct {
    background-color: springgreen;
}

.incorrect {
    background-color: crimson;
}