@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

body {
    font-family: 'Mouse Memoirs', sans-serif;
}

#heading {
    text-align: center;
    font-size: 3em;
    margin: 1%;
}

.hide {
    display: none;
}

#quiz-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#counter {
    display: flex;
    visibility: hidden;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

#quiz {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#progress-text {
    font-size: 2em;
}

#progress-bar {
    width: 10rem;
    height: 2rem;
    box-sizing: border-box;
    border: 0.5rem solid #56a5eb;
}

#progress-bar-full {
    height: 1.5rem;
    background-color: #56a5eb;
    width: 0%;
}

#question {
    display: flex;
    justify-content: center;
}

#question img {
    max-width: 80%;
    margin: 0 auto;
}

.controls {
    display: flex;
    width: 100%;
    justify-content: center;
}


.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
  }





.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}